#container_bar{
    font-size: 20px;
    color:rgb(255, 255, 255);
    background-color: #434D57;
}

#container_form{
    margin-top: 50px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
}

#separed_row{   
    padding: 20px;
}

#profile_card{
    background-color: #434D57;
    padding: 25px;
    color: white;
}

#col_mainproducts{
    padding: 20px;
}

#collapse{
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    color: #434D57;
    background-color: white;
}

#errorMessage1{
    margin-top: 60px;
    font-size: 30px;
    color: red;
    
}

#errorMessage2{
    font-size: 30px;
    color: #434D57;
}


#link{
    color: #434D57;
}